.contenedor{
    border: solid 7px rgb(122, 94, 17);
    width: 250px;
    height: 350px;
    column-count:auto;
    border-radius: 10px;
    margin-left: 10px;

}

.image{
    width: 100%;
    height: 70%;
}
.info{
    color: rgb(13, 52, 70);
    font-family: sArial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
